.selected {
    color: white;
    background:green !important;
    
}
td
{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.aui-page-focused-xlarge #content .aui-page-panel,
.aui-page-size-xlarge #content .aui-page-panel {
	max-width: 980px;
    width: 96%;
}    





.switch1 {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch1 input {display:none;}

.slider1 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider1:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider1 {
  background-color: #4caf50;
}

input:focus + .slider1 {
  box-shadow: 0 0 1px #4caf50;
}

input:checked + .slider1:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider1.round1 {
  border-radius: 34px;
}

.slider1.round1:before {
  border-radius: 50%;
}