<html>
    <head>

<script src="/js/jquery.min.js"></script>
<script src="//aui-cdn.atlassian.com/aui-adg/5.10.1/js/aui.js"></script>
<script src="//aui-cdn.atlassian.com/aui-adg/5.10.1/js/aui-experimental.js"></script>
<script src="//aui-cdn.atlassian.com/aui-adg/5.10.1/js/aui-datepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//aui-cdn.atlassian.com/aui-adg/5.10.1/css/aui.css"/>
<link rel="stylesheet" type="text/css" href="//aui-cdn.atlassian.com/aui-adg/5.10.1/css/aui-experimental.css"/>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="all">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 </head>
    <body>
      <div class="row" style="margin-top: 15px;"></div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <h3>Welcome to agile projects cloner</h3>
          <p style="margin-top: 20px;">Agile Project Cloner is here to help you clone tasks from one single project and copy them to another project in your JIRA Cloud Instance. Please note that the tasks you will copy and move to another project will still remain in your original project therefore you can easily progress any work on them and on the project. </p>
	        <div class="row">
		        <div class="col-md-1"></div>
		        <div class="col-md-10">
		          <p style="margin-top: 15px;">STEP 1 SELECT THE PROJECT FROM WHICH YOU WANT TO COPY TASKS</p>
		           <form class="aui">
    				 <p>
        				<aui-select id="sync-product-single-select" name="product" placeholder="From project">
				            <aui-option>Project A</aui-option>
				            <aui-option>Project B</aui-option>
				            <aui-option>Project C</aui-option>
				            <aui-option>Project D</aui-option>
				            <aui-option>Project E</aui-option>
        				</aui-select>
    				 </p>
				    </form>
		        </div>
		        <div class="col-md-1"></div>
	        </div>
	        <div class="row">
		        <div class="col-md-1"></div>
		        <div class="col-md-10">
		          <p style="margin-top: 20px;">STEP 2 SELECT THE PROJECT TO WHICH YOU WANT TO PASTE TASKS</p>
		           <form class="aui">
    				 <p>
        				<aui-select id="sync-product-single-select" name="product" placeholder="To project">
				            <aui-option>Project A</aui-option>
				            <aui-option>Project B</aui-option>
				            <aui-option>Project C</aui-option>
				            <aui-option>Project D</aui-option>
				            <aui-option>Project E</aui-option>
        				</aui-select>
    				 </p>
				    </form>
		         </div>
		         <div class="col-md-1"></div>
	         </div>
	         <div class="row">
		         <div class="col-md-1"></div>
		         <div class="col-md-10">
		          <p style="margin-top: 15px;"> STEP 3 SELECT ISSUE TYPES YOU WANT TO COPY </p>
		         </div>
		         <div class="col-md-1"></div>
	         </div>
	         
	         <div class="row" style="margin-top: 20px;">
	         	 <div class="col-md-2"></div>
		         <div class="col-md-8" style="margin-left: 65px;">
		         <button class="aui-button aui-button-primary">TASKS</button>
		         <button class="aui-button aui-button-primary">USER STORIES</button>
		         <button class="aui-button aui-button-primary">FEATURE REQUESTS</button>
		         <button class="aui-button aui-button-primary">BUGS</button>
		         <button class="aui-button aui-button-primary">SUB TASKS</button>
		         </div>
		         <div class="col-md-2"></div>
	         </div>
	         
        </div>
        <div class="col-md-1"></div>
      </div>
    <script id="connect-loader" data-options="sizeToParent:true;">
         (function() {
             var getUrlParam = function (param) {
                 var codedParam = (new RegExp(param + '=([^&]*)')).exec(window.location.search)[1];
                 return decodeURIComponent(codedParam);
             };

             var baseUrl = getUrlParam('xdm_e') + getUrlParam('cp');
             var options = document.getElementById('connect-loader').getAttribute('data-options');

             var script = document.createElement("script");
             script.src = baseUrl + '/atlassian-connect/all.js';

             if(options) {
                 script.setAttribute('data-options', options);
             }

             document.getElementsByTagName("head")[0].appendChild(script);
         })();
     </script>
    </body>
</html>