<html>
<head>
<script src="$atlassian-connect-all-js-url" type="text/javascript"></script>
<script src="$atlassian-connect-license" type="text/javascript"></script>
<script src="$atlassian-connect-locale" type="text/javascript"></script>
<script src="$atlassian-connect-timezone" type="text/javascript"></script>
<script src="/js/jquery.min.js"></script>
<script src="//aui-cdn.atlassian.com/aui-adg/5.10.1/js/aui.js"></script>
<script
	src="//aui-cdn.atlassian.com/aui-adg/5.10.1/js/aui-experimental.js"></script>
<script
	src="//aui-cdn.atlassian.com/aui-adg/5.10.1/js/aui-datepicker.js"></script>
<script src="/js/require.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="//aui-cdn.atlassian.com/aui-adg/5.10.1/css/aui.css" />
<link rel="stylesheet" type="text/css"
	href="//aui-cdn.atlassian.com/aui-adg/5.10.1/css/aui-experimental.css" />
<link rel="stylesheet" type="text/css" href="/css/custom.css" />
<script src="/js/sinon.js"></script>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	media="all">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/custom.js"></script>

</head>
<body>
	<!-- <section id="content" role="main">-->
	<!-- / External dependencies -->
	<div id="aui-message-bar"></div>
	<div class="row" style="margin-top: 30px;"></div>
	<div class="row" id="front-page">
		<div id="progress-bar" class="aui-progress-indicator">
			<span class="aui-progress-indicator-value"></span>

		</div>
		<input type="hidden" id="baseUrl" value="${baseUrl}" />
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h3>Welcome to Agile Projects and Tasks Cloner</h3>
			<p style="margin-top: 10px;">Agile Projects and Tasks Cloner clone tasks from one project to the another project in the same JIRA Cloud Instance. This Add On will load standard issue types and any custom issue types it will find in your JIRA. It displays both of these issue groups on the screen below. </p>
			<p style="margin-top: 10px;">You simply select the project from which you want to copy tasks, then select project to which you want to paste tasks and Copy them, decide which issue types you need to copy and copy them. </p>
			<!--<div class="error">Please Select</div>-->
			<div class="row" style="margin-top: 10px;">
				<table style="margin-top: 20px;margin-left: 20px;">
					<tr>
						<td style="margin-top: 20px;">
							<p>Issues from project</p>
						</td>
						<td></td>
						<td style="margin-top: 20px;">
							<aui-select id="sync-product-single-select-1" name="product"
								placeholder="From project"> #foreach($project in
							$projectList) <aui-option value="$project.key">$project.name</aui-option>
							#end </aui-select>
						</td>
					</tr>
					<tr>
						<td style="margin-top: 20px;">
							<p>Issues to project</p>
						</td>
						<td></td>
						<td style="margin-top: 20px;">
							<aui-select id="sync-product-single-select-2" name="product"
								placeholder="To project"> #foreach($project in
							$projectList) <aui-option value="$project.key">$project.name</aui-option>
							#end </aui-select>
						</td>
					</tr>
					<tr>
						<td style="margin-top: 20px;">
							<p>Load custom issues</p>
						</td>
						<td></td>
						<td style="margin-top: 20px;">
							<aui-label for="load-custom-issues">Load custom issues</aui-label>
							<aui-toggle id="load-custom-issues" label="Load custom issues"></aui-toggle>
						</td>
					</tr>
					<tr class="group" id="issues">
					<td>
                        <span>Copy</span>
                    </td>
                    <td></td>
					<td style="margin-top: 20px;">
						<fieldset class="group" id="copy-issues-list">
						<table  cellspacing="10">
				  			<tr>
                        	<td>
                        	<div class="checkbox">
                          		<input class="checkbox" type="checkbox" name="check_tasks" value="task" id="copy-task">
                          		<label for="checkBoxThree">Task</label>
                      		</div>
                      		<div class="checkbox">
                          		<input class="checkbox" type="checkbox" name="check_tasks" value="story" id="copy-story">
                          		<label for="checkBoxOne">User stories</label>
                      		</div>
                      		<div class="checkbox">
                          		<input class="checkbox" type="checkbox" name="check_tasks" value="request" id="copy-request">
                          		<label for="checkBoxTwo">Feature requests</label>
                      		</div>
                      		<div class="checkbox">
                          		<input class="checkbox" type="checkbox" name="check_tasks" value="bug" id="copy-bug">
                          		<label for="checkBoxThree">Bugs</label>
                      		</div>
                      		<div class="checkbox">
                          		<input class="checkbox" type="checkbox" name="check_tasks" value="sub-task" id="copy-subtask">
                          		<label for="checkBoxThree">Sub tasks</label>
                      		</div>
                      		</td>
                      </tr>
                      </table>
                      </fieldset>
                      </td>
                  	</tr>
                  	<tr class="group" id="customissues">
                  	  <td style="margin-top: 20px;">	
                  	  <fieldset class="group hidden" id="load-custom-issues-list">
                  		<table cellspacing="10">
				  			<tr>
								<td>
                      				<span>Load</span>
                      			</td>
                      			<td></td>
                      			<td>
                      				<div id="checkbox-list"></div>
                      			</td>
                     		</tr>
                      	</table>
                  	  </fieldset>
                  	</td>
					</tr>
					<tr>
						<td style="margin-top: 20px;margin-left: 40px;">
						<div class="buttons-container">
         					<div class="buttons">
         						<input class="aui-button aui-button-primary submit" type="submit" value="Copy" id="load-all-button">
            					<a class="cancel" href="#">Cancel</a>
         					</div>
     					</div>
						</td>
					</tr>
				</table>
			</div>
			</div>
			<div class="col-md-1"></div>
	</div>
	<div class="row" id="result-page">
		<div class="row" id="result">
		<p style="margin-top: 20px;margin-left: 40px; font-size: 20px">Successfully copied tasks  </p> <!--from project $projectA to project $projectB-->
		<p style="margin-top: 20px;margin-left: 40px; font-size: 15px">Below is the list of all issues you have copied just now. They were placed in the project backlog and you can always find 
		them  there to start grooming the backlog and planning active sprints. You can quickly navigate from here to get into selected issue type details</p>
		<div class="col-md-1"></div>
			<div class="col-md-10" id="innerhtml">
			</div>
			<div class="col-md-1"></div>
			</div>
			<div class="row" id="pagination">
			<!--<div id="listingTable"></div>
				<a href="javascript:prevPage()" id="btn_prev">Prev</a>
				<a href="javascript:nextPage()" id="btn_next">Next</a>-->
			 <!--<ol class="aui-nav aui-nav-pagination">
    			<li class="aui-nav-previous"><a href="#">Prev</a></li>
    			<li><a href="http://example.com/">1</a></li>
    			<li class="aui-nav-selected">2</li>
    			<li><a href="http://example.com/">3</a></li>
    			<li class="aui-nav-truncation"><a href="http://example.com/" id="pagination-truncation">&hellip;</a></li>
    			<li><a href="http://example.com/">998</a></li>
    			<li><a href="http://example.com/">999</a></li>
    			<li class="aui-nav-next"><a href="#">Next</a></li>
			 </ol>-->
			</div>
	</div>
	
	<script id="connect-loader" data-options="sizeToParent:true;">
		(function() {
			var getUrlParam = function(param) {
				var codedParam = (new RegExp(param + '=([^&]*)'))
						.exec(window.location.search)[1];
				return decodeURIComponent(codedParam);
			};

			var baseUrl = getUrlParam('xdm_e') + getUrlParam('cp');
			var options = document.getElementById('connect-loader')
					.getAttribute('data-options');

			var script = document.createElement("script");
			script.src = baseUrl + '/atlassian-connect/all.js';

			if (options) {
				script.setAttribute('data-options', options);
			}

			document.getElementsByTagName("head")[0].appendChild(script);
		})();
	</script>
	<script language="JavaScript" type="text/javascript">
        var toggle = document.getElementById('load-custom-issues');
        toggle.addEventListener('change', function(e) {
                      $("#copy-issues-list").toggleClass('hidden');
                      $("#load-custom-issues-list").toggleClass('hidden');
        });
	</script>
	<script language="javaScript" type="text/javascript">

	</script>
</body>
</html>